<hgroup>JESSICA KING 
<img class="irc_mi ix1YXkCgkEWY-pQOPx8XEepE" alt="Image result for clip artof crowns" style="margin-top: 0px;" src="http://www.clipartkid.com/images/190/28-keep-calm-crown-vector-free-cliparts-that-you-can-download-to-you-7y2Wm9-clipart.jpeg" onload="google.aft&amp;&amp;google.aft(this)" width="50" height="50">
<img class="irc_mi iL2SKZAFju0E-pQOPx8XEepE" alt="Image result for pinterest logo black and white" style="margin-top: 59px;" src="https://www.golf-nation.com/cmsfiles/Pinterest-512.png" onload="google.aft&amp;&amp;google.aft(this)" width="50" height="50">
<img class="irc_mi iGxktdOZ8xzY-pQOPx8XEepE" alt="Image result for twitter logo" style="margin-top: 2px;" src="https://image.freepik.com/free-icon/twitter-logo_318-40209.jpg" onload="google.aft&amp;&amp;google.aft(this)" width="50" height="50">
<img class="irc_mi iL2SKZAFju0E-pQOPx8XEepE" alt="Image result for pinterest logo black and white" style="margin-top: 251px;" onload="google.aft&amp;&amp;google.aft(this)" src="https://du1ux2871uqvu.cloudfront.net/sites/default/files/file/Intsagram-128.png" width="50" height="50">
</hgroup>



 <form action = "/app/other" method = "POST" >
    <input name = "Name" type = "text" />     
    <button>Submit Name</button>
    </form>
    
<a href = "/portfolio/artwork">Artwork</a>
<a href = "portfolio/music">Music</a>
<a href = "portfolio/youtube">Youtube</a>
<a href = "portfolio/about">About</a>
<a href = "portfolio/gallery">Gallery</a>






